/* CSS FOR BODY AND HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(207, 207, 207);
}

.card1 {
    background: rgb(0, 0, 0);
    position: relative;
    flex: 1;
    width: 100%;
    height: 75px;
    margin: 0;
    padding-left: 50px;
}

.pageheader {
    padding-top: 8px;
    position: relative;
    font-size: 45px;
    text-align: center;
    color: white;
}